:root {
  .auth-page {
    height: 100vh;
    ion-content {
      --background: url('../assets//img/login-backgroud.png') 0 0/100% no-repeat;
    }
    .header {
      h1 {
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-top: 0;
      }
    }
    img {
      height: 169px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-login {
      margin: 10px 0 10px 0;
      ion-button {
        --border-radius: 15px;
        --background: linear-gradient(to right, #0071bc, #00a99d);
        width: 100%;
        height: 39px;
        font-weight: bold;
      }
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }

    .phone {
      border: 2px solid #6e7274;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-right: unset;
      width: 95%;
      margin-bottom: -2px;
      ion-input {
        margin-left: 30px;
      }
    }
    .user {
      position: relative;
      z-index: 10;
      ion-input {
        margin-left: 30px;
        margin-bottom: 3px;
      }
    }
    .user:after {
      content: '';
      width: 5%;
      border: 2px solid #6e7274;
      height: 35px;
      position: absolute;
      right: 0;
      top: 0;
      border-left: unset;
      border-radius: 0px 20px 20px 0px;
    }
    .pass {
      border: 2px solid #6e7274;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-right: unset;
      width: 95%;
      margin-top: -2px;
      ion-input {
        margin-left: 30px;
      }
    }
    .mess-error {
      text-align: center;
      color: red;
      margin-top: 15px;
    }
    .register {
      display: flex;
      justify-items: center;
      justify-content: center;
      .btn-register {
        ion-button {
          margin-right: 0;
          color: #00a99d;
          --border-radius: 15px 0px 0px 15px;
          --background: #f0f0f1;
          --background-activated: rgba(238, 237, 237, 0.76);
          font-size: x-small;
          font-weight: bold;
        }
        width: 50%;
      }
      .btn-pass {
        ion-button {
          margin-left: 0;
          --color: #c1272d;
          --border-radius: 0 15px 15px 0;
          --backgroud: #cdcece;
          --background-activated: rgba(238, 237, 237, 0.795);
          font-size: x-small;
          font-weight: bold;
        }
        width: 50%;
      }
      ion-button {
        --background: linear-gradient(to right, #f0f0f1, #cdcece);
        width: 100%;
        height: 39px;
      }
    }
    .from-peson {
      padding: 20px;
      .text-error {
        color: #ff1a1a;
        font-weight: bold;
        text-align: center;
      }
      .phone {
        border: 2px solid #6e7274;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-right: unset;
        width: 95%;
        margin-bottom: -2px;
        ion-input {
          margin-left: 30px;
        }
      }
      .user {
        position: relative;
        z-index: 10;
        ion-select {
          margin-left: 15px;
        }
        ion-input {
          margin-left: 30px;
        }
      }
      .user:after {
        content: '';
        width: 6%;
        border: 2px solid #6e7274;
        height: 35px;
        position: absolute;
        right: 0;
        top: 0;
        border-left: unset;
        border-radius: 0px 20px 20px 0px;
      }
      .user-bootom {
        position: relative;
        z-index: 10;
        border-bottom: 2px solid #6e7274;
        border-bottom-right-radius: 20px;
        border-bottom: none;
        margin-bottom: 3px;
        ion-input {
          margin-left: 30px;
        }
      }
      .user-bootom:after {
        content: '';
        width: 10%;
        border: 2px solid #6e7274;
        height: 35px;
        position: absolute;
        right: 0;
        top: 0;
        border-left: unset;
        border-radius: 0px 20px 20px 0px;
      }
      .pass {
        border: 2px solid #6e7274;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-right: unset;
        width: 95%;
        margin-top: -2px;
        margin-bottom: -2px;
        ion-datetime {
          margin-left: 15px;
        }
      }
    }
    .btn-submit {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-button {
        height: 41px;
        width: 239px;
        font-weight: bold;
        --border-radius: 15px;
      }
    }
  }
}
