* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

:root {
  --ion-color-primary: linear-gradient(to right, #0071bc, #00a99d);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: linear-gradient(to right, #0071bc, #00a99d);

  --ion-color-secondary: #ffde2d;
  --ion-color-secondary-rgb: 255, 222, 45;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0c328;
  --ion-color-secondary-tint: #ffe142;

  --ion-color-tertiary: #ff424c;
  --ion-color-tertiary-rgb: 255, 66, 76;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e03a43;
  --ion-color-tertiary-tint: #ff555e;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #bebac2;
  --ion-color-medium-rgb: 190, 186, 194;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #a7a4ab;
  --ion-color-medium-tint: #c5c1c8;

  --ion-color-light: linear-gradient(to right, #f1f0f0, #cbc9c8);
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: linear-gradient(to right, #f1f0f0, #cbc9c8);
  .header {
    img {
      padding-top: 50px;
    }
    ion-text {
      p {
        padding: 0 10px;
        font-weight: bold;
        font-size: 16px;
        font-style: italic;
        margin: 20px;
      }
    }
    ion-toolbar {
      --background: #ffffffe0;
      --border-width: 0px;
      border-radius: 173px/30px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      box-shadow: 0 8px 6px -2px #9b9b9a;
      color: #f8a63d;
      text-align: center;
      max-height: 250px;
      height: 250px;
    }
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    margin-bottom: 20px;
    .button-left {
      height: 47px;
      width: 47px;
      background: linear-gradient(to right, #28adce, #23b480);
      text-align: center;
      border-radius: 100%;
      p {
        text-align: center;
        color: #ffffff;
      }
    }
    .button {
      background: url('../assets/img/btn.png');
      box-shadow: 0 8px 6px -2px #9b9b9a;
      width: 277px;
      min-height: 47px;
      overflow: hidden;
      position: relative;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      font-size: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      padding-left: 30px;
      p {
        margin-left: 30px;
        font-size: 11pt;
      }
    }
    .button:active {
      background: #d6d6d6c4;
    }
  }
  .date-wapper {
    border: 1px solid #797777;
    border-radius: 20px;
    width: 60%;
    ion-item {
      --border-radius: 20px;
      --border-style: solid;
    }
  }
  .input-number {
    margin-left: 10px;
    .native-input.sc-ion-input-ios {
      padding: 0;
      width: 49px;
      height: 23px;
      text-align: center;
    }
    ion-input {
      --background: #ffffff;
      border-radius: 10px;
      border: 1px solid #797777;
    }
  }
  .input-cardID {
    margin-left: 10px;
    .native-input.sc-ion-input-ios {
      padding: 0;
      width: 190px !important;
      height: 30px !important;
    }
    ion-input {
      --background: #ffffff;
      border-radius: 10px;
      border: 1px solid #797777;
      height: 30px;
      width: 190px;
    }
  }
  .text-title {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 8px 6px -6px #9b9b9a;
    text-align: center;
  }
  .checkBoox {
    margin: 0 0 10px 5px;
    ion-checkbox {
      --ion-color-base: #ffa31a !important;
    }
    ion-label {
      position: absolute;
      left: 50px;
    }
  }
}
