* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

:root {
  --ion-color-primary: linear-gradient(to right, #0071bc, #00a99d);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: linear-gradient(to right, #0071bc, #00a99d);

  --ion-color-secondary: #ffde2d;
  --ion-color-secondary-rgb: 255, 222, 45;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0c328;
  --ion-color-secondary-tint: #ffe142;

  --ion-color-tertiary: #ff424c;
  --ion-color-tertiary-rgb: 255, 66, 76;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e03a43;
  --ion-color-tertiary-tint: #ff555e;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #bebac2;
  --ion-color-medium-rgb: 190, 186, 194;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #a7a4ab;
  --ion-color-medium-tint: #c5c1c8;

  --ion-color-light: linear-gradient(to right, #f1f0f0, #cbc9c8);
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: linear-gradient(to right, #f1f0f0, #cbc9c8);
  .homePage {
    height: 100vh;
    ion-content {
      --background: url('../assets//img/wellcom.png') 0 0/100% 100% no-repeat;
    }
    .header {
      img {
        padding-top: 30px;
      }
      ion-text {
        p {
          padding: 0 60px;
          font-weight: bold;
          font-style: italic;
        }
      }
      ion-toolbar {
        --background: #eaebedb9;
        --border-width: 0px;
        box-shadow: 0 8px 6px -2px #9b9b9a;
        color: #f8a63d;
        text-align: center;
      }
    }
    .content {
      background-color: #eaeaea9a;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      .header-title {
        padding: 20px 0 0 0;
        h1 {
          text-align: center;
          color: #0071bc;
          margin: 0;
          font-weight: bold;
        }
      }
      .btn {
        position: relative;
        top: 15px;
        ion-button {
          --border-radius: 15px;
          --background: linear-gradient(to right, #0071bc, #00a99d);
          width: 60%;
          margin: 0 5%;
          height: 38px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .img {
        img {
          height: 230px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        h5 {
          text-align: center;
          color: #0071bc;
          margin-top: 0;
        }
      }
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .layout {
    height: 100vh;
    ion-content {
      --background: url('../assets//img/backgroud.png') 0 0/100% 100% no-repeat;
    }
    .header-md:after {
      content: unset;
    }
    .header {
      img {
        padding-top: 10px;
      }
      ion-text {
        p {
          padding: 0 10px;
          font-weight: bold;
          font-size: 16px;
          font-style: italic;
        }
      }
      ion-toolbar {
        --background: #ffffffe0;
        --border-width: 0px;
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 20%;
        box-shadow: 0 8px 6px -2px #9b9b9a;
        color: #f8a63d;
        text-align: center;
      }
    }
    .contentBoder {
      background-color: #eaeaea9a;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      position: absolute;
      top: 22%;
      a {
        text-decoration: none;
      }
      p {
        margin: 1rem;
      }
      .card {
        margin: 16px 0px;
        ion-card-title {
          font-size: 14px;
          text-align: center;
          margin: 0 15px;
          padding: 60px 0 0 0;
        }
        .cardInfo {
          padding: 20px 0 0 0;
        }
        .btn--black {
          position: relative;
          top: 35px;
          ion-button {
            width: 60%;
            height: 38.88px;
            max-height: 38.88px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            --border-radius: 15px;
            --background: linear-gradient(to right, #28adce, #23b480);
          }
          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
        .form {
          margin: 15px;
          p {
            color: #0071bc;
            font-weight: bold;
            margin-left: 0;
          }
          ion-list {
            margin: 0;
          }
          ion-checkbox {
            width: 16px;
            height: 16px;
          }
          .checkBoox {
            margin: 0 0 10px 5px;
            ion-checkbox {
              --ion-color-base: #ffa31a !important;
            }
            ion-label {
              position: absolute;
              left: 50px;
            }
          }
          .numberChildren {
            display: flex;
            .input {
              margin-top: 5px;
              input {
                border: 1px solid #ffff;
                border-radius: 15px;
                width: 40%;
                height: 30px;
                outline: none;
                padding-left: 10px;
              }
            }
          }
          ion-item {
            --border-radius: 20px;
            --border-style: solid;
            // --border-width: 0.5px;
            // --border-color: rgb(59, 59, 59);
            width: 60%;
          }
          ion-input {
            width: 60%;
          }
          input.native-input.sc-ion-input-ios {
            border: 1px solid #ffffffe0;
            height: 30px;
            border-radius: 15px;
            background: #ffff;
            padding-left: 10px;
          }
          .input {
            margin-top: 5px;
            input {
              border: 1px solid #ffff;
              border-radius: 15px;
              width: 60%;
              height: 30px;
              outline: none;
              padding-left: 10px;
            }
          }
        }
      }
    }
    .content {
      background-color: #eaeaea9a;
      a {
        text-decoration: none;
      }
      .card {
        margin: 16px 0px;
        ion-card-title {
          font-size: 14px;
          text-align: center;
          margin: 15px;
          padding: 20px 0 0 0;
        }
        .btn--black {
          position: relative;
          top: 19px;
          ion-button {
            width: 60%;
            height: 38.88px;
            max-height: 38.88px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            --border-radius: 15px;
            --backgroud: linear-gradient(to right, #f1f0f0, #cbc9c8);
          }
          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
  .auth-page {
    height: 100vh;
    ion-content {
      --background: url('../assets//img/login-backgroud.png') 0 0/100% 100% no-repeat;
    }
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    margin-bottom: 40px;
    .button-left {
      height: 47px;
      width: 47px;
      background: linear-gradient(to right, #28adce, #23b480);
      text-align: center;
      border-radius: 100%;
      p {
        text-align: center;
        color: #ffffff;
      }
    }
    .button {
      margin-left: 10px;
      background: #fcf9f8;
      box-shadow: 0 8px 6px -2px #9b9b9a;
      width: 300px;
      min-height: 47px;
      overflow: hidden;
      position: relative;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      p {
        margin-left: 30px;
        font-size: 11pt;
      }
    }
    .button:active {
      background: #d6d6d6c4;
    }
  }
  .auth-page {
    .header {
      h1 {
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-top: 0;
      }
    }
    ion-card-content {
      padding: 35px;
    }
    img {
      height: 169px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .btn-login {
      margin: 10px 0 10px 0;
      ion-button {
        --border-radius: 15px;
        --background: linear-gradient(to right, #0071bc, #00a99d);
        width: 100%;
        height: 39px;
      }
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }

    .phone {
      border: 2px solid #6e7274;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-right: unset;
      width: 95%;
      margin-bottom: -2px;
    }
    .user {
      border: 2px solid black;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      border-left: unset;
      border-top: unset;
      border-bottom: unset;
    }
    .pass {
      border: 2px solid #6e7274;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      border-right: unset;
      width: 95%;
      margin-top: -2px;
    }
    input.native-input.sc-ion-input-ios {
      margin-left: 20px;
    }
    .register {
      display: flex;
      justify-items: center;
      justify-content: center;
      .btn-register {
        margin-right: 0;
        color: #00a99d;
        --border-radius: 15px 0px 0px 15px;
        --background: #f0f0f1;
        --background-activated: rgba(238, 237, 237, 0.76);
        --color-activated: #00a99d;
        font-size: 13px;
        width: 50%;
      }
      .btn-pass {
        margin-left: 0;
        --color: #c1272d;
        --border-radius: 0 15px 15px 0;
        --backgroud: #cdcece;
        --background-activated: rgba(238, 237, 237, 0.795);
        --color-activated: #c1272d;
        font-size: 13px;
        width: 50%;
      }
      ion-button {
        --background: linear-gradient(to right, #f0f0f1, #cdcece);
        width: 100%;
        height: 39px;
      }
    }
  }
}
