.forgotinsurrance-wrap {
  padding: 80px 30px;
  .img-ins {
    height: 57px !important;
    width: 152px;
  }
  ion-button {
    font-weight: bold;
    --border-radius: 10px;
    width: 155px;
    font-size: 10.35px;
    font-weight: bold;
  }
  .btn-back {
    text-align: center;
    margin-top: 35px;
    ion-button {
      --background: #cdcece;
      --color: black;
      font-size: 13.98px !important;
      height: 39px;
      width: 188px;
      font-weight: bold;
    }
  }
  .content {
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
      font-size: 27px;
    }
    p {
      font-size: 10px;
      font-style: italic;
    }
  }
}

.forgotpw-wrap {
  height: 100%;
  padding: 20px;
  .content {
    text-align: center;
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      color: #666666 !important;
      margin-bottom: 30px;
      font-size: 12px;
    }
  }
  .btn-login {
    ion-button {
      --background: #cdcece !important;
      --color: black;
      height: 49px !important;
      width: 241px !important;
      font-weight: bold !important;
    }
  }
  .btn-getpw {
    ion-button {
      height: 72px;
      width: 243px;
      margin-bottom: 20px;
      font-size: 17px;
    }
  }
  ion-button {
    font-weight: bold;
    --border-radius: 10px;
  }
}
