:root {
  .homePage {
    height: 100vh;
    ion-content {
      --background: url('../assets//img/wellcom.png') 0 0/100% no-repeat;
    }
    .header {
      img {
        padding-top: 50px;
      }
      ion-text {
        p {
          padding: 0 60px;
          font-weight: bold;
          font-style: italic;
        }
      }
      ion-toolbar {
        --background: #eaebedb9;
        --border-width: 0px;
        box-shadow: 0 8px 6px -2px #9b9b9a;
        color: #f8a63d;
        text-align: center;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .content {
      background-color: #eaeaea9a;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
      .header-title {
        padding: 20px 0 0 0;
        h1 {
          text-align: center;
          color: #0071bc;
          margin: 0;
          font-weight: bold;
        }
      }
      .btn {
        position: relative;
        top: 15px;
        ion-button {
          --border-radius: 15px;
          --background: linear-gradient(to right, #0071bc, #00a99d);
          width: 60%;
          margin: 0 5%;
          height: 38px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          font-weight: bold;
        }
      }

      .img {
        img {
          height: 230px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        h5 {
          text-align: center;
          color: #0071bc;
          margin-top: 0;
          text-transform: capitalize;
        }
      }
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
    .btn-logout {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
      ion-button {
        --border-radius: 15px;
        // --background: linear-gradient(to right, #0071bc, #00a99d);
        width: 40%;
        margin: 0 5%;
        height: 38px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
      }
    }
  }
}
