.cardInfo {
  .text-title {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 8px 6px -6px #9b9b9a;
    text-align: center;
  }
  .form-input {
    margin: 20px;
    p {
      color: #0071bc;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    span {
      color: #0071bc;
    }
    .third-input {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
  }
}
