:root {
  .layout {
    height: 100vh;
    ion-content {
      --background: url('../assets//img/backgroud.png') 0 0/100% 100% no-repeat;
    }
    .header-md:after {
      content: unset;
    }
    .contentBoder {
      background-color: #eaeaea9a;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      position: absolute;
      top: 190px;
      width: 100%;
      a {
        text-decoration: none;
      }
      p {
        margin: 1rem;
      }
      .card {
        margin: 30px 0px;
        margin-bottom: 0;
        ion-card-title {
          font-size: 14px;
          text-align: center;
          margin: 0 15px;
          padding: 80px 0 0 0;
        }
        .cardInfo {
          padding-top: 40px;
          .font-12 {
            font-size: 12px;
          }
          .text-primary {
            color: #0071bc;
          }
        }
        .btn--black {
          position: relative;
          top: 20px;
          ion-button {
            width: 60%;
            height: 38.88px;
            max-height: 38.88px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            --border-radius: 15px;
            --background: linear-gradient(to right, #28adce, #23b480);
          }
          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
        .form {
          margin: 20px;
          span {
            color: #0071bc;
          }
          p {
            color: #0071bc;
            font-weight: bold;
            margin-left: 0;
          }
          ion-list {
            margin: 0;
          }
          ion-checkbox {
            width: 16px;
            height: 16px;
          }
          .text-input {
            background-color: #fff;
            border-radius: 20px;
            .native-input.sc-ion-input-ios {
              padding-left: 20px;
            }
          }
          .day-wapper {
            display: flex;
            align-items: center;
            span {
              margin-right: 10px;
            }
            .margin-left {
              margin-left: 20px;
            }
          }
          .btn-number {
            .input-number {
              width: 20%;
              margin: 0;
            }
          }
          // .checkBoox {
          //   margin: 0 0 10px 5px;
          //   ion-checkbox {
          //     --ion-color-base: #ffa31a !important;
          //   }
          //   ion-label {
          //     position: absolute;
          //     left: 50px;
          //   }
          // }
          .numberChildren {
            display: flex;
            align-items: center;
            font-weight: bold;
          }
          .input {
            margin-top: 5px;
            input {
              border: 1px solid #ffff;
              border-radius: 15px;
              width: 60%;
              height: 30px;
              outline: none;
              padding-left: 20px;
            }
          }
        }
      }
    }
    .content {
      background-color: #eaeaea9a;
      a {
        text-decoration: none;
      }
      .card {
        margin: 16px 0px;
        ion-card-title {
          font-size: 14px;
          text-align: center;
          margin: 15px;
          padding: 20px 0 0 0;
        }
        .btn--black {
          position: relative;
          top: 19px;
          ion-button {
            width: 60%;
            height: 38.88px;
            max-height: 38.88px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            --border-radius: 15px;
            --backgroud: linear-gradient(to right, #f1f0f0, #cbc9c8);
            font-weight: bold;
          }
          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}
