.alert-wrapper.sc-ion-alert-md {
  border-radius: 26px;
  .alert-head.sc-ion-alert-md {
    background-image: linear-gradient(to right, #007bb6, #00a2a1);
    .alert-title.sc-ion-alert-md {
      font-size: 18px;
      color: #fff;
      text-align: center;
    }
  }
  .alert-message.sc-ion-alert-md {
    font-size: 13px;
    padding-top: 24px;
  }
  .alert-button-group.sc-ion-alert-md {
    padding-bottom: 15px;
    .alert-button.sc-ion-alert-md {
      background-image: linear-gradient(to right, #0071bc, #00a99d);
      border-radius: 20px;
      margin: 0 auto;
      width: 100%;
      max-width: 190px;
      .alert-button-inner.sc-ion-alert-md {
        font-size: 13px;
        justify-content: center;
        color: #fff;
      }
    }
  }
}
.text-bule {
  color: #0071bc;
}
.momney {
  color: #f7931e;
}
.note {
  font-size: 12px;
  font-style: italic;
}
div {
  text-align: left;
  // margin: 5px 0;
}
.alert-input-group.sc-ion-alert-ios,
.alert-message.sc-ion-alert-ios {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  div {
    margin: 5px 0px;
  }
  .popup-note {
    font-style: italic;
  }
}
// p {
//   margin: 0 5px;
// }
