@media (max-width: 380px) {
  :root {
    .list {
      .sub-card {
        ion-badge {
          font-size: 10px;
          padding: 0px 3px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  :root {
    .time {
      .timeWapper {
        .timeLeft {
          .timeDisplay {
            height: 40px;
            width: 40px;
          }
        }
        .timeRight {
          .timeDisplay {
            height: 40px;
            width: 40px;
          }
        }
      }
    }

    .card {
      .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 10px;
        margin-bottom: 30px;
        .button-left {
          height: 39px;
          width: 45px;
          background: linear-gradient(to right, #28adce, #23b480);
          text-align: center;
          border-radius: 100%;
          p {
            margin: 0;
            padding: 30%;
            color: #ffffff;
          }
        }
        .button {
          background: url('../assets/img/btn.png');
          width: 300px;
          text-align: left;
          outline: none;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          min-height: 47px;
          p {
            margin: 0;
            margin-top: 5px;
            text-align: left;
            margin-left: 20px;
            font-size: 11pt;
          }
        }
        .button:active {
          background: #d6d6d6c4;
        }
      }
      .btn--black {
        position: relative;
        top: 19px;
        font-weight: bold;
      }
    }
    .cardInfo .text-title {
      border-bottom: 1px solid #dbdbdb;
      box-shadow: 0 8px 6px -6px #9b9b9a;
      text-align: center;
      color: #000000;
    }
    .date-wapper {
      border: 1px solid #797777;
      border-radius: 20px;
      width: 65%;
    }
    .btnDay {
      border: 1px solid #797777;
      border-radius: 20px;
      width: 90px;
      ion-item {
        --border-radius: 20px;
        --border-style: solid;
      }
    }
    .layout {
      .header {
        ion-text {
          p {
            margin: 20px;
            font-size: 15px;
          }
        }
      }
      .contentBoder {
        .card {
          ion-card-title {
            font-size: 14px;
            text-align: center;
            margin: 0 15px;
            padding: 60px 0 0 0;
          }
          .cardInfo {
            padding-top: 50px;
          }
        }
      }
    }
    .layout-butons {
      .content {
        .form {
          .input-custom {
            width: 170px !important;
            ion-input {
              width: 170px;
            }
          }
          .btn-save {
            left: 140px !important;
          }
          .btn-forget {
            left: 226px !important;
          }
        }
      }
    }
    .button-container {
      .button-left {
        height: 43px;
        width: 45px;
      }
    }
  }
}
